{% extends 'base.html.twig' %}

{% block title %}HandiStanciel{% endblock %}

{% block banniere %}

    <img src="assets/img/BannerAccueil.png" class="img-fluid" alt="Responsive image">

{% endblock %}

{% block citation %}
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">HandiStanciel l'accompagnement en milieu professionel</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>
{% endblock %}

{% block grandeCard %}
<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Le Distanciel</h5>
        <p class="card-text">Que faire en cas de probleme pendant une période en distanciel.</p>
        <a href="#" class="btn btn-primary">Go</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
    <br>
{% endblock %}

{% block petiteCard %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Les aides</h5>
                <p class="card-text">Mise en place des aides pour personnes handicapés.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Les numéros</h5>
                <p class="card-text">Présentation des numéros a contacté en cas d'urgence.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}