{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block banniere %}
    <img src="/assets/img/BannerContact.png" class="img-fluid" alt="Responsive image">
{% endblock %}

{% block body %}

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">back to list</a>
{% endblock %}
