{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block banniere %}
<img src="/assets/img/BannerMediatheque.png" class="img-fluid" alt="Responsive image">
{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nom document</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.link }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">Voir le document</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_new') }}">Ajouter un nouveau document</a>
{% endblock %}
