{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
 {% block banniere %}

     <img src="/assets/img/BannerAdminDemandes.png" class="img-fluid" alt="Responsive image">

 {% endblock %}
{% block body %}
    <h1>Editer utilisateur</h1>
    <br>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
    {{ include('user/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('user_index') }}">back to list</a>


{% endblock %}
